In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/workspace/datasets/train.csv") # Load up our query logs
df

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759
...,...,...,...,...,...,...
1865264,ffffbcfcee8ff636231fa0df557528e6fa2ecdba,3674224,pcmcat247400050000,ttv,2011-10-28 07:30:33.921,2011-10-28 07:27:05.039
1865265,ffffddbbdc67c4d775c7232082adaf40c7e7d03c,2986037,pcmcat218000050000,incase,2011-09-11 14:18:12.625,2011-09-11 14:17:57.759
1865266,ffffed824a4fc5b78e407a423f72bbbc2f6e5213,3303069,pcmcat248500050020,ds games,2011-10-20 00:24:18.609,2011-10-20 00:23:16.705
1865267,fffff158dec2f40d082f7797413f7b6dbc1713e6,2390524,pcmcat209000050008,Archos,2011-10-30 15:42:02.347,2011-10-30 15:40:20.889
1865268,fffff53f46ee78433a09fada9439848fdf0e3a9b,3504376,pcmcat182300050008,graphics cards,2011-10-20 00:02:03.854,2011-10-20 00:01:39.827

In [3]:
gb = df.groupby("query") # Group on query

In [4]:
gb.first()

,user,sku,category,click_time,query_time
query,,,,,
!pod,ee0c57592de376bf9e687eaab46c05f6d8e15988,9084206,pcmcat144700050004,2011-10-16 22:22:01.996,2011-10-16 22:21:11.988
#,0240c3e637c81f402565ce97978c032b2f6454f3,1972308,cat02010,2011-10-25 23:46:17.884,2011-10-25 23:43:48.686
# 1 hits of the 50s,22ee0cd6a6dce1df2f5487ed6a6faa6b78c8fb06,17072944,cat02010,2011-09-07 18:43:00.204,2011-09-07 18:42:38.189
# TC-P50GT30,144d310cedd839dc33d5dddc8847b90a1347b048,2025359,abcat0102003,2011-09-26 02:16:49.572,2011-09-26 02:12:28.204
#1 Girl,e9fbedbfa8d6d3309b00871185a73aa40019321c,3486349,cat02009,2011-09-20 14:20:15.77,2011-09-20 14:19:59.599
...,...,...,...,...,...
��Mfr: SONY ��Model: VPCYB/15KX/P �� ��UPC: 027242819757,1b4cd9dccc522a5aa0ef1e146c5277ce704c821e,1945531,pcmcat209000050007,2011-10-04 18:17:43.862,2011-10-04 18:15:27.714
��Mfr: TOSHIBA ��Model: BDX4200 ��,28e001b8f0605e7b3a2eac7ec21c80ea10af3488,2114042,abcat0102003,2011-09-24 11:14:53.634,2011-09-24 11:14:42.439
��Model: U30JCB2B,d512aff4d504f12273f069830226aac45ed8b432,3104033,pcmcat247400050000,2011-10-08 05:22:29.851,2011-10-08 05:17:54.345
����Mfr: SONY��Model: DSCW530/B ��,3a7e036989a666d101d77d29cdcf9405c4e5261c,2507506,abcat0401004,2011-10-04 11:20:10.006,2011-10-04 11:19:25.816
����� HP DV5-2074DX 14.5in Laptop i3 2.13GHz 3GB 250GB DVDRW,bab6934c3681408ba248bc25ac60f358d0112afe,2660188,pcmcat247400050000,2011-08-21 01:33:36.149,2011-08-21 01:31:06.28

In [5]:
gb.get_group("ipad").count() #how many clicks did the ipad query receive?

user          5036
sku           5036
category      5036
query         5036
click_time    5036
query_time    5036
dtype: int64

In [6]:
df[df["category"] == "abcat0101001"] # Get all queries in the given category

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
19,0000c4e9d7075985d1020c456e7ce36f83f834eb,2126065,abcat0101001,Samsung 40,2011-09-28 17:27:11.184,2011-09-28 17:26:15.832
40,00017f7beeac02736c0ce7bf1e75f3010939b34e,1831054,abcat0101001,lcd tv,2011-09-28 07:26:32.153,2011-09-28 07:26:21.476
...,...,...,...,...,...,...
1865071,fff7afecf87f8043ce4b4fcbd8ed47d7ffd52679,2620821,abcat0101001,lcd tv,2011-10-16 11:13:30.233,2011-10-16 11:13:25.858
1865077,fff7edfacf2c376fa8ea4f637c33013d057ae70a,1854328,abcat0101001,goldeneye movie,2011-09-20 18:25:30.494,2011-09-20 18:25:16.548
1865119,fff97c95234212c39d6f04c9854fa94d94bc0cce,1854819,abcat0101001,2622037 2127204 2127213 2121716 2138291,2011-10-08 07:00:01.108,2011-10-08 06:56:16.829
1865190,fffc750c85c62fe732b8223d5872be6e0fc03593,2262074,abcat0101001,Pn51d8000,2011-10-24 18:15:10.27,2011-10-24 18:15:05.628
1865224,fffd4ebf04febc87ca4b34c730c78d7bf1bef564,2620821,abcat0101001,Infinity,2011-10-19 21:20:40.308,2011-10-19 21:20:15.504

In [7]:
df.sample(n=100) # Take a random subsample (your results will differ since this is random)

,user,sku,category,query,click_time,query_time
1027048,8d14bf891397643883d1ac782aa37181cb18cd8b,2061068,abcat0401004,cameras,2011-09-08 09:31:11.504,2011-09-08 09:29:53.001
946224,820bdc144541ccffc1792ed658eb7320de34a770,1678271,abcat0503002,linksys router,2011-10-26 00:48:38.057,2011-10-26 00:47:50.946
625910,560e83b03b00e10faa4d6a9a7a0a1891376cbb9d,3142315,cat02015,fast five,2011-10-06 10:34:55.649,2011-10-06 10:33:26.766
1466679,c947e822a294b362757472c952eb2d48508f5b08,2193948,pcmcat196500050013,10-24mm Nikon,2011-10-25 20:06:47.556,2011-10-25 20:06:14.182
981404,86da803ac67ce1a1ab7f61b88bc01fb44ffbfc6b,2817582,pcmcat209000050008,samsung galaxy tab 10.1,2011-08-28 14:21:57.302,2011-08-28 14:21:09.438
...,...,...,...,...,...,...
1033138,8de5e7b9539e78af62e2b5f69b33960150758f59,2759694,pcmcat194000050018,Blenders,2011-09-27 23:41:35.804,2011-09-27 23:38:36.775
1132717,9b854f3ec1818ea7369fb5808ff688799fb7c500,9225411,abcat0201011,iPod 3,2011-10-24 18:57:57.333,2011-10-24 18:55:05.769
857433,75e847693879fbd5e0533230da4ca7568225f933,2670179,abcat0703002,Modern warfare,2011-09-22 16:15:38.773,2011-09-22 16:14:32.01
1625668,df12eb6b2dcf45bbce99b29c1bfd01320f0e75c9,3143987,cat02012,Tha Carter iv,2011-08-29 10:24:33.643,2011-08-29 10:22:46.46
485192,42b49db4cf97ab823b524be80f0772db563977c6,1671848,cat02661,Cage the elephant,2011-09-01 18:27:43.45,2011-09-01 18:27:30.964

In [13]:
# Note: Var named lte (less than or equal to) but code is lt (less than)
lte2 = gb.size().sort_values() < 2

In [14]:
lte2

query
!pod                                        True
Wireless Kit                                True
Wireless LAN adapters                       True
Wireless LAN adaptor                        True
Wireless Microphone                         True
                                           ...
hp touchpad                                False
iPad                                       False
Hp touchpad                                False
2622037 2127204 2127213 2121716 2138291    False
lcd tv                                     False
Length: 257860, dtype: bool

In [15]:
lte2.value_counts()

True     165490
False     92370
dtype: int64

In [17]:
txgb = pd.read_csv("/workspace/ltr_output/training.xgb", sep='\t', header=None)

In [18]:
txgb

,0,1,2,3,4,5,6,7,8,9
0,1.0,qid:1558,1:9.8636,2:9.8636,3:236.0000,4:50.9900,5:50.9900 # 1158136,4.0,Vampire diaries,fake
1,1.0,qid:388,1:3.4492,2:3.4492,3:1230.0000,4:249.9900,5:499.9900 # 2670819,5.0,Dell,fake
2,0.0,qid:967,1:0.0000,2:0.0000,3:5.0000,4:59.9900,5:59.9900 # 2670151,5.0,Mw3,fake
3,0.5,qid:645,1:20.0119,2:20.0120,3:150.0000,4:34.9900,5:34.9900 # 3039182,1.0,How I met your mother,fake
4,0.5,qid:2224,1:6.4109,2:6.4109,3:3781.0000,4:329.9900,5:329.9900 # 2660188,3.0,hp laptop,fake
...,...,...,...,...,...,...,...,...,...,...
8756,1.0,qid:2455,1:4.1351,2:4.1351,3:1604.0000,4:1099.9900,5:1099.9900 # 2970264,1.0,lg,fake
8757,0.0,qid:3029,1:6.0667,2:0.0000,3:1653.0000,4:449.9900,5:449.9900 # 3167208,4.0,toshiba laptop,fake
8758,0.5,qid:2756,1:7.2358,2:0.0000,3:177.0000,4:249.9900,5:249.9900 # 2238218,2.0,psp vita,fake
8759,0.0,qid:2132,1:8.7416,2:8.7416,3:29.0000,4:24.9900,5:24.9900 # 19292283,1.0,gantz,fake
8760,0.5,qid:260,1:14.0382,2:14.0382,3:3.0000,4:179.9900,5:179.9900 # 2070351,1.0,Boxee box,fake

In [19]:
txgb[0].value_counts()

0.0    3016
1.0    2907
0.5    2838
Name: 0, dtype: int64

In [51]:
# After quantizing
txgb = pd.read_csv("/workspace/ltr_output/training.xgb", sep='\t', header=None)
txgb[0].value_counts()

0.75    2891
0.00    2215
1.00    2021
0.50    1634
Name: 0, dtype: int64

In [52]:
# After downsampling
txgb = pd.read_csv("/workspace/ltr_output/training.xgb", sep='\t', header=None)
txgb[0].value_counts()

1.00    1634
0.00    1634
0.50    1634
0.75    1634
Name: 0, dtype: int64